.vf-input {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  position: relative;
  @each $name, $color in $vf-colors {
    &.vf-input__#{$name} {
      >input {
        position: relative;
        &:focus {
          border-color: getColor($name);
          box-shadow: 0 3px 10px 0 rgba(0,0,0,.15);
          +.vf-input__placeholder {
            padding-left: 15px;
          }
        }
        &:disabled {
          opacity: .5;
          pointer-events: none;
          +.vf-input__placeholder {
            opacity: .5;
            pointer-events: none;
            cursor: default;
          }
        }
      }
    }
  }
  &.prefix-icon {
    >input {
      padding-left: 28px;
      &:focus {
        +.vf-input__placeholder {
          padding-left: 34px;
        }
      }
    }
    .vf-input__placeholder {
      padding-left: 28px;
    }

  }
  &.suffix-icon {
    >input {
      padding-right: 28px;
    }
  }
  >input {
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border: 0;
    color: inherit;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
    padding: 4px 11px;
    transition: all .3s ease;
  }
  .vf-input__icon {
    position: absolute;
    z-index: 15;
    color: rgba(0, 0, 0, 0.15);
    top: 50%;
    transform: translateY(-50%);
    &.prefix {
      left: 5px;
    }
    &.suffix {
      right: 5px;
    }
  }
}
.vf-input__placeholder {
  position: absolute;
  padding: 4px 11px;
  left: 0;
  font-size: .85rem;
  color: rgba(0, 0, 0, .4);
  white-space: nowrap;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  transition: all .2s ease;
  width: 100%;
  cursor: text;
}