.vf-select {
  width: 200px;
  &__input{
    position: relative;
    >input{
      color: inherit;
      width: 100%;
      box-sizing: border-box;
      padding: 7px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, .1);
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      padding-right: 20px;
      cursor: pointer;
      transition: all .3s ease;
      &:hover {
        border-color: rgba(0, 0, 0, .4);
      }
    }
    .select-icon {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      transition: all .3s ease;
      color: inherit;
      font-size: 1rem;
    }
  }
  &__options {
    position: absolute;
    padding: 6px 4px 6px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #fff;
    z-index: 40000;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
  }
}

.fadeselect-enter-active {
  transition: all .3s ease;
}
.fadeselect-leave-active {
  transition: all .3s ease;
}

.fadeselect-enter,  .slide-fade-leave-to {
  opacity: 0;
  transform: translate(0, 0) scale(.95);
  box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0);
}