// colors
$accentColor: #5b3cc4;
$textColor: rgb(91, 87, 119);
$codeCOlor: #f5f7fb;
$arrowBgColor: #ccc;

//layout
$navbarHeight: 4rem;
$sidebarWidth: 15rem;
$contentWidth: 1200px;

// 响应
$MQNarrow: 959px;
$MQMobile: 800px;
$MQMobileNarrow: 419px;